@model IEnumerable<ProjectViewModel>
@foreach (var item in Model)
{
    var categories = item.Categories;
    var filters = new string[categories.Count];
    int index = 0;
    foreach (var category in categories)
    {
        filters[index] = category.CategoryFilter;
        index++;
    }
    var str = String.Join(" ", filters);

    <div class="grid-item @str">
        <div class="portfolio-box-01">
            <div class="portfolio-info">
                <h5 class="white-color primary-font">
                    @if (item.SiteUrl != null)
                    {
                        <a  class="siteLink">@item.ProjectTitle</a>
                        <input type="hidden" value="@item.SiteUrl" class="siteUrl" />
                    }
                    else
                    {
                        @item.ProjectTitle
                    }
                </h5>
                <span>@item.ProjectSubTitle</span>
                <div class="flex justify-content-center py-2">
                    @if (item.DownloadLink != null)
                    {
                        <a href="@item.DownloadLink" download="@item.DownloadLink">
                            <i class="fas fa-cloud-download-alt"></i>
                        </a>

                    }
                </div>
            </div>
            <div class="portfolio-img" style="min-height:235px">
                <img src="/image/@item.ProjectImage" title="" alt="" style="min-height:235px">
                <div class="portfolio-icon">
                    <a href="/image/@item.ProjectImage" class="gallery-link">
                        <span class="ti-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- grid item -->
}